# -*- conf -*-
# @author: Victory
# @site: http://dfhu.org
# @copyright: dfhu.org
# @report_bugs: bugs(at)dfhu.org
# @feature_request: features(at)dfhu.org
# @file: scrollingheatmap/js/.htaccess
# @license: BSD
#
# @description:
#
#   This file is great.
#
# $Date:: 2009-08-15 12:38:19 #$:
# $Rev:: 2                     $:


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule !\.js$ - [F]
</IfModule>